.snk__cell {
    z-index: 1;
    position: relative;
    width: 160px; 
    height: 160px; 
    background: #BD9000;
    outline-style: solid;
    outline-color: black;
    outline-width: 4px;
    font-size: large;
    cursor: pointer;
   
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */

}

.snk__cell img {
    justify-content: flex-start;
    width: 100%;
    

    transform: rotate(45deg) scale(.8);
    margin-top: 0rem;
    margin-left: 0rem;
}

.snk__cell:hover {
    background: #FFC80C;
    position: relative;
    outline-color: #C6CACA;
    z-index: 2;
    transform: rotate(-45deg) scale(1.4);
}

.snk__cell-text {
    text-align: center;
    transform: rotate(45deg);
    position: relative;
    right: 0px;
    top: 50px;
    font-family: var(--font-family);
    font-size: 17.5px;
    line-height: 25px;

    -webkit-text-stroke: .05px white; 
  }

 