.snk__cell-menu {
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 18rem;
}

.snk__cell-menu-contents_firstRow {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-gap: 5rem;
    column-gap: 4.5rem;

}

.snk__cell-menu-contents_secondRow {
    z-index: 2;
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-gap: 5rem;
    column-gap: 4.5rem;

    margin-left: 7.25rem;
    margin-top: -2.75rem;
}

.snk__cell-menu-contents_thirdRow {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-gap: 5rem;
    column-gap: 4.5rem;

    margin-left: 14.5rem;
    margin-top: -2.75rem;
}