.snk__header {

}

.snk__header-content {

    margin-top: 0rem;
}

.snk__header-content h1 {
    text-align: center;
    font-size: 40px;
    justify-content: center;
    font-family: var(--font-family);
    color: var(--color-heading);

    margin-bottom: -.5rem;
}

.snk__header-content hr {
    border-width: 10px;
	border: 20px solid #C8BCBA;
}